extends ./_layout

block content
  
  .container
    p hello BATTLESHIP world master
    .output
  
  footer
    script(defer, rel='script/text', src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(defer, rel='script/text', src='js/front-client.js')
