body {
  padding-top: 40px;
  background: cornflowerblue;
}

h1 {
  margin-top: 0;
}

.hit {
  background: salmon;
}

.missed {
  background: navy;
}

.letter-coordinates .tile,
.number-coordinates {
  background: royalblue;
  font-weight: bolder;
}

.output-raw {
  padding-top: 40px;
}

.remaining-evils {
  height: 20px;
  font-style: italic;
  padding: 10px 0 10px;
}

.shot-fired {
  padding-left: 20px;
}

.tile {
  border: 1px lightblue solid;
  float: left;
  height: 40px;
  text-align: center;
  width: 40px;
}

.tile span {
  height: 40px;
  width: 40px;
}

.tile .occupied {
  font-weight: bolder;
}

.tile .not-occupied {
  font-weight: lighter;
}
