body {
  background: cornflowerblue;
}

.tile {
  float: left;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px lightblue solid;
}

.tile .occupied {
  font-weight: bolder;
}

.tile .not-occupied {
  font-weight: lighter;
}
